*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, skyblue, lightgreen);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 4px;
}
.input-container{

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.288);
    width: 25vw;
    height: 65vh;
    border: 2px solid black;
    border-radius: 20px;
}
.task{
    width: auto;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.38);
    list-style-type: none;
    margin: 10px;
    border-radius: 5px;
}
.done{
    width: auto;
    height: 20px;
    background-color: cadetblue;
    border: 2px solid green;
    list-style-type: none;
    margin: 10px;
    border-radius: 5px;
}